body{
    background-color: black;
}

/* FONTS */

.about-font{
    font-family: 'Righteous', cursive;
    text-shadow: 2px 2px 3px #000;
}

.navbar-items{
    width: auto !important;
}

.fas{
    margin-top: 20px;
    margin-left: 10px;
    color: #961979;
    font-size: 45px;
}

.navbar-toggler{
    color: white;
    font-size: 2em;
    padding: 30px;
}

#navItem{
    width: 100%;
    background-color:rgba(0, 0, 0, 0.5);
}

.nav-link{
    color: white;
}

a:hover{
    color: #a33489;
}

.ml-6{
    margin:auto;
}

.ml-7{
    margin-left: 60px;
    font-size: 30px;
}
#text{
    font-family: 'helpOutFont';
    font-weight: normal;
    font-size: 20px;
    text-shadow: 2px 2px 3px #961979;
    padding: 0px !important;
}

@font-face {
    font-family:'helpOutFont';
    src: url('fonts/SUDBURY.TTF') format('woff');
    font-weight: normal;
    font-style: normal;

}

.card-img-top:hover{
    filter: drop-shadow(3px 3px 5px black);
}

.card-img-top{
    padding: 4px;
}

.card{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.carousel{
    width: 100%;
    min-height: 385px !important;

}
.carousel-item h2{
    text-shadow: 2px 2px black;
}

.helpOut{
    font-family: "helpOutFont";
}

#helpOut:hover{
    color: #961979;
}

hr.style-eight {
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: medium double #fff;
    color: #fff;
    text-align: center;
}
hr.style-eight:after {
    content: "§";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 2em;
    padding: 0 0.25em;
    background: transparent;
}

.container-fluid.about{
    width: 100%;
    background-image: linear-gradient(rgba(73, 50, 83, 0.1), rgba(73, 50, 83, 0.1)), url("background.jpg") !important;
    background-size: cover;
    height: 800px;
}

.container-fluid.about-container{
    background-color: white;
    margin-left: 80px;

}

.row.about{
    height: 300px;
    width: 300px;
}
